.container {
  width: 380px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;

  background-image: linear-gradient(
    to top,
    rgb(233, 233, 233) 1%,
    rgb(203, 118, 252)
  );
  border-radius: 4px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
}
