@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: Avantgarde, 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: linear-gradient(to top, #ccc, rgb(93, 246, 252));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
p,
ul,
h2 {
  padding: 0;
  margin: 0;
}
